html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFAFA), to(#808080));
  background: linear-gradient(#FFFAFA, #808080);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.nav__footer {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__inner-footer {
  text-transform: uppercase;
  text-align: center;
}

.nav__item-footer {
  margin-bottom: 5px;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link-footer {
  color: black;
  text-decoration: none;
}

.nav__item-footer:hover {
  border-bottom: 2px solid #000;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 10px;
  left: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #000;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

body {
  font-family: 'Lato', sans-serif;
  background: url("../img/bg/look.com.ua-35320.jpg") center;
  min-width: 1400px;
}

.container {
  margin: 0 auto;
  width: 900px;
  z-index: 1;
}

.hero {
  height: 100vh;
  background: url("../img/bg/bg1.jpg") center center/cover;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.logo__pic {
  width: 150px;
  height: 150px;
}

.header__item {
  margin-left: 50px;
}

.header__item:first-child {
  margin-left: 0px;
}

.header__item:nth-child(2) {
  margin-right: 50px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.3;
}

.icon:hover {
  opacity: 1;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.nav__item {
  text-transform: uppercase;
  margin-left: 50px;
}

.nav__item:first-child {
  margin-left: 0px;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: #B22222;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__link:hover {
  background: #fff;
  color: #B22222;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fred {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0px;
  width: 250px;
  height: 750px;
}

.nefred {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 250px;
  height: 750px;
}

.match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/content/skysports-old-trafford-manchester-united_5461096.jpeg") center center/cover no-repeat;
}

.match__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.match__date {
  margin-top: 70px;
  color: #F5F5DC;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.match__type {
  color: #F5F5DC;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.logo__match {
  width: 150px;
  height: 150px;
}

.match__content-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number {
  color: #F5F5DC;
  font-size: 50px;
  font-weight: bold;
}

.match__content-team {
  background: #fff;
  color: #B22222;
  font-size: 25px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px 5px #000;
          box-shadow: 5px 5px 5px 5px #000;
}

.read__more {
  position: absolute;
  left: 780px;
  top: 370px;
}

.read__more-link {
  padding: 5px;
  background: #B22222;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 5px 5px 5px 5px #000;
          box-shadow: 5px 5px 5px 5px #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.read__more-link:hover {
  background: #fff;
  color: #B22222;
}

.player {
  z-index: 1;
}

.player__photo {
  width: 350px;
}

.player__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFAFA), to(#808080));
  background: linear-gradient(#FFFAFA, #808080);
  color: #432b2b;
}

.player__title {
  color: #B22222;
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}

.player__article {
  margin-left: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__title-second {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.2em;
}

.player__text {
  font-family: 'Heebo', sans-serif;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.2em;
}

.ronaldo__video {
  margin-top: 10px;
  border-radius: 10px;
  width: 520px;
  height: 250px;
  margin-bottom: 15px;
}

.statistick {
  z-index: 1;
}

.statistick__inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#FFFAFA));
  background: linear-gradient(#808080, #FFFAFA);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  width: 90%;
  border: none;
  margin-bottom: 20px;
}

.table thead th {
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  background: black;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background: #808080;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.table__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #B22222;
  text-transform: uppercase;
  padding: 5px;
  background: #FFF;
  border-radius: 10px;
}

.schedule {
  z-index: 1;
}

.schedule__inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFAFA), to(#808080));
  background: linear-gradient(#FFFAFA, #808080);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.schedule__title {
  color: #FFF;
  padding: 5px;
  background-color: #B22222;
  text-align: center;
  font-size: 30px;
  width: 99%;
}

.schedule__month {
  margin-top: 20px;
  font-size: 35px;
}

.schedule__item {
  margin-top: 20px;
  border: 0.8px solid #432b2b;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 10px 7px 7px black;
          box-shadow: 10px 7px 7px black;
}

.schedule__date {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.schedule__type {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.schedule__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule__logos-name {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.schedule__time {
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: #000;
  color: #fff;
}

.schedule__logos-team {
  width: 150px;
}

.may__scheudle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1250px) {
  body {
    min-width: 1250px;
  }
  .fred {
    width: 200px;
    height: 600px;
  }
  .nefred {
    width: 200px;
    height: 600px;
  }
  .container {
    width: 850px;
  }
  .ronaldo__video {
    width: 450px;
  }
  .read__more {
    left: 370px;
    top: 375px;
  }
}

@media (max-width: 1050px) {
  body {
    min-width: 1050px;
  }
  .fred {
    width: 150px;
    height: 550px;
  }
  .nefred {
    width: 150px;
    height: 550px;
  }
  .container {
    width: 750px;
  }
  .ronaldo__video {
    width: 350px;
  }
  .read__more {
    left: 320px;
  }
}

@media (max-width: 900px) {
  body {
    min-width: 900px;
  }
  .fred {
    width: 150px;
    height: 550px;
  }
  .nefred {
    width: 150px;
    height: 550px;
  }
  .container {
    width: 600px;
  }
  .player__photo {
    width: 210px;
  }
  .player__title {
    font-size: 20px;
    margin-top: 5px;
  }
  .player__article {
    margin-left: 2px;
    margin-right: 2px;
  }
  .player__title-second {
    font-size: 15px;
  }
  .player__text {
    font-size: 10px;
  }
  .ronaldo__video {
    margin-top: 5px;
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin-bottom: 15px;
  }
  .read__more {
    left: 250px;
  }
}

@media (max-width: 768px) {
  body {
    min-width: 768px;
  }
  .container {
    width: 768px;
  }
  .fred {
    display: none;
  }
  .nefred {
    display: none;
  }
  .player__photo {
    width: 210px;
  }
  .player__title {
    font-size: 20px;
    margin-top: 5px;
  }
  .player__article {
    margin-left: 2px;
    margin-right: 2px;
  }
  .player__title-second {
    font-size: 15px;
  }
  .player__text {
    font-size: 12px;
  }
  .ronaldo__video {
    margin-top: 5px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
  }
  .read__more {
    left: 330px;
  }
}

@media (max-width: 414px) {
  body {
    min-width: 414px;
  }
  .container {
    width: 414px;
  }
  .header__item {
    margin-left: 30px;
  }
  .header__item:nth-child(2) {
    margin-right: 30px;
  }
  .logo__pic {
    width: 80px;
    height: 80px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .hero__nav {
    display: none;
  }
  .header {
    padding-top: 25px;
  }
  .hamburger-menu {
    display: block;
  }
  .main {
    display: block;
  }
  .fred {
    display: none;
  }
  .nefred {
    display: none;
  }
  .read__more {
    left: 155px;
    top: 275px;
  }
  .logo__match {
    width: 100px;
    height: 100px;
  }
  .match__date {
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .player__photo {
    width: 210px;
  }
  .player__title {
    font-size: 15px;
    margin-top: 5px;
  }
  .player__article {
    margin-left: 2px;
    margin-right: 2px;
  }
  .player__title-second {
    font-size: 10px;
  }
  .player__text {
    font-size: 8px;
  }
  .ronaldo__video {
    margin-top: 5px;
    border-radius: 10px;
    width: 180px;
    height: 150px;
    margin-bottom: 15px;
  }
  .table {
    width: 70%;
    border: none;
    margin-bottom: 20px;
  }
  .table thead th {
    padding: 7px 7px;
    font-size: 15px;
  }
  .table tbody td {
    border: none;
    padding: 5px 5px;
    font-size: 10px;
    vertical-align: top;
    text-align: center;
  }
  .schedule__item {
    padding: 5px;
    -webkit-box-shadow: 0px 7px 7px black;
            box-shadow: 0px 7px 7px black;
  }
  .schedule__logos-team {
    width: 130px;
  }
}
/*# sourceMappingURL=main.css.map */